.filter {
  width: 1000px;
  height: 100px;
  position: relative;
  left: 4rem;
  top: 3rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inp {
  width: 500px;
  display: flex;
  position: relative;
  top: 30px;
  left: 20px;
  height: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.inp > input {
  width: 90%;
  position: relative;
  top: 6px;
  height: 60%;
  outline: none;
  border: none;
  font-size: 20px;
  left: 5px;
  /* text-align: center; */
}

.search {
  position: relative;
  top: 5px;
  font-size: 30px;
}

.filter_btns {
  position: relative;
  left: 300px;
  top: 20px;
}
.filter_btns > span {
  margin-left: 8px;
  font-size: 20px;
}

.filter_btns > button {
  margin: 5px;
  width: 90px;
  height: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background-color: #ffffff;
  border: 1px solid #76b5f5;
  border-radius: 10px;
  cursor: pointer;
}
